.awfooter {
    color: white;
    background-color: rgba(0, 0, 0, 1);
    height: 15vw;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: 3vw;

    & .fa-facebook {
        
        font-size: 4vw;
        flex-basis: max-content;
        margin-right: 1vw;
        color: white;
        &:hover {
            color: rgb(62, 178, 255);
        }
    }
    & .fa-paper-plane {
        
        font-size: 4vw;
        flex-basis: max-content;
        margin-left: 1vw;
        color: white;
        &:hover {
            color: rgb(62, 178, 255);
        }
    }
}