.awheader {
    color: white;
    background-image: url(../../public/images/header.png);
    display:flex;
    flex-direction: row;
    height: 25vw;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly; /* center items horizontally, in this case */
    align-items: center;
    padding-bottom: 7vw;
    position:relative;
    & h1{
        font-family: "Raleway";
        border-bottom: 0.5vw solid white;
    }
    
}