.awheader {
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 120px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between; /* center items horizontally, in this case */
  align-items: center;
  padding-bottom: 0;
  padding-left: 5vw;
  padding-right: 5vw;
  @include mobile-only {
    padding-right: 0;
  }
  position: relative;
  & h1 {
    font-family: "Raleway";
    border-bottom: 0.1vw solid rgb(201, 37, 37);
    font-size: 18px;
    width: 40vw;

    align-items: flex-start;

    text-align: start;
    margin-right: 41vw;
    padding-top: 0;
    text-shadow: 0.1vw 0.1vw 0.8vw black;
    display: flex;
    justify-content: flex-start; /* center items horizontally, in this case */
    align-items: center;

    @include mobile-only {
      font-size: 7vw;
      margin: 0;
      margin-top: 6vw;
      border-bottom: none;
      border-top: 0.1vw solid white;
      width: 92vw;
    }
  }
}
