@charset "UTF-8";
/*@import "./utils/functions";*/
/*@import "./utils/extensions";*/
@keyframes element-enter-right-90 {
  0% {
    left: 80vw;
  }
  100% {
    left: 0vw;
  }
}
@keyframes element-enter-left-90 {
  0% {
    right: 80vw;
  }
  100% {
    right: 0vw;
  }
}
@keyframes element-enter-right-75 {
  0% {
    left: 75vw;
  }
  100% {
    left: 0vw;
  }
}
@keyframes element-enter-left-75 {
  0% {
    right: 75vw;
  }
  100% {
    right: 0vw;
  }
}
@keyframes element-enter-top-fast {
  0% {
    bottom: 30vw;
  }
  80% {
    bottom: 30vw;
  }
  100% {
    bottom: 0vw;
  }
}
@keyframes element-enter-top-slow {
  0% {
    bottom: 30vw;
  }
  60% {
    bottom: 30vw;
  }
  100% {
    bottom: 0vw;
  }
}
/*loader spinner keyframes*/
/*to... well. hide the load screen :) */
@keyframes hide-load-screen {
  0% {
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
/*To rotate the two colored borders while getting them to fade out after 80% of the animation duration*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
/*To fade in the OHMYFOOD logo, then rotate it 360° during the remaining 50% of the animation*/
@keyframes fade-in-rotate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 0.5;
    transform: rotate(360deg);
  }
}
/* To fade in the main content while the spinner div is disappearing*/
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes increase-padding-top {
  to {
    /*height: 5vw;*/
    margin-top: -1vw;
  }
}
@keyframes to-primary {
  100% {
    transform: scale(1.01);
  }
}
@keyframes scale-btn-hover {
  0% {
    box-shadow: 0.2vw 0.2vw 1vw black;
  }
  50% {
    margin-bottom: 1vh;
  }
  100% {
    box-shadow: 0.2vw 0.2vw 1vw black;
  }
}
@keyframes opacity-to-zero {
  100% {
    opacity: 0;
  }
}
@keyframes opacity-to-one {
  100% {
    opacity: 1;
  }
}
@keyframes hide-nav-bar {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -93vh;
  }
}
@keyframes show-nav-bar {
  0% {
    bottom: -93vh;
  }
  100% {
    bottom: 0vh;
  }
}
@keyframes coming-from-right {
  0% {
    right: -100vh;
  }
  100% {
    right: 0vh;
  }
}
@keyframes poping-blog-post-date {
  0% {
    left: -70vw;
  }
  100% {
    left: 0vw;
  }
}
body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(0deg, rgba(231, 231, 231, 0.9), #030303);
}
@media screen and (max-width: 1080px) {
  body {
    position: relative;
  }
}
body #scrolltotop {
  box-sizing: border-box;
  width: 4vw;
  height: 4vw;
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 5vh;
  /* Place the button at the bottom of the page */
  right: 4vw;
  /* Place the button 30px from the right */
  z-index: 3;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  color: #ffa600;
  /* Set a background color */
  background-color: white;
  border: 0.3vw solid #ffa600;
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 1vw;
  /* Some padding */
  border-radius: 5vw;
  /* Rounded corners */
  /* Increase font size */
  box-shadow: 0.2vw 0.2vw 1vw black;
  overflow: visible;
}
@media screen and (max-width: 1080px) {
  body #scrolltotop {
    width: 10vw;
    height: 10vw;
    bottom: 10vw;
  }
}
body #scrolltotop i {
  font-size: 1vw;
}
@media screen and (max-width: 1080px) {
  body #scrolltotop i {
    font-size: 5vw;
  }
}
body #scrolltotop:hover {
  /*background-color: $color-button-blog; Add a dark-grey background on hover */
  border: 0.4vw solid #1597ca;
  color: #1597ca;
  transform-origin: bottom;
  animation: scale-btn-hover 0.5s ease-out infinite forwards;
}

.page-container {
  max-width: 1920px;
  /*background-image: url("../../public/images/background.png");*/
  z-index: 99;
  margin: 0 auto;
}

.main-content {
  box-sizing: border-box;
  background: linear-gradient(0deg, white 90%, #e7e7e7);
  padding: 5vw 3vw 3vw 5vw;
  overflow: visible;
  width: 90vw;
  flex-direction: row;
  margin: -3vw auto -7vw auto;
  box-shadow: 0 0 1vw white;
  z-index: 2;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 97%, 100% 3%, 0 0);
  clip-path: polygon(0 0, 3vw 100%, 100% 98%, 100% 3vw, 0 0);
  display: flex;
}
@media screen and (max-width: 1080px) {
  .main-content {
    width: 100%;
    flex-direction: column;
    min-height: 80vh;
    overflow-x: hidden;
    overflow-y: visible;
    padding-top: 10vw;
  }
}
.main-content h2 {
  /*max-width: 40%;*/
  border-bottom: 0.2vw solid #32adff;
  font-family: "Raleway";
  margin-left: 2%;
}
.main-content__title-container__title {
  display: flex;
  flex-direction: row;
  height: 100%;
  border-right: 0.2vw solid #ffa600;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 20vw;
  padding-top: 5vw;
}
@media screen and (max-width: 1080px) {
  .main-content__title-container__title {
    width: 88vw;
    margin-bottom: 1vh;
    border-right: none;
  }
}
.main-content__title-container__title > * {
  padding-bottom: 1vw;
}
.main-content__title-container__title h2 {
  margin: 0;
  padding: 0;
  font-size: 1.15vw;
  line-height: 1.15vw;
  border-bottom: 0.2vw solid #ffa600;
  width: 75%;
  padding-left: 5%;
  text-align: center;
}
@media screen and (max-width: 1080px) {
  .main-content__title-container__title h2 {
    font-size: 2vh;
    text-align: left;
    width: 80%;
  }
}
.main-content__title-container__title i {
  border-bottom: 0.2vw solid #ffa600;
  width: 20%;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: right;
  color: #1597ca;
}
@media screen and (max-width: 1080px) {
  .main-content__title-container__title i {
    text-align: left;
    width: 8%;
  }
}
.main-content__side-menu {
  width: 15vw;
  position: absolute;
  top: 27vw;
  left: 10vw;
}
@media screen and (max-width: 1080px) {
  .main-content__side-menu {
    display: flex;
    flex-direction: row;
    width: 99vw;
    flex-wrap: nowrap;
    align-content: flex-start;
    position: absolute;
    top: 22vw;
    left: 30vw;
  }
}
.main-content__side-menu__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  font-size: 3vw;
}
@media screen and (max-width: 1080px) {
  .main-content__side-menu__item {
    width: 15%;
    align-content: flex-start;
    font-size: 1vw;
  }
}
.main-content__side-menu__item i {
  box-sizing: border-box;
  display: flex;
  background-color: white;
  border-radius: 5rem;
  transition: transform 100ms ease-in-out;
  width: 4vw;
  height: 4vw;
  align-items: center;
  justify-content: center;
  color: #1597ca;
  box-shadow: 0.2vw 0.2vw 0.2vw lightgrey;
  padding: 3vh;
  margin-top: 2vw;
  font-size: 2vw;
  border: 0.1rem solid #1597ca;
}
@media screen and (max-width: 1080px) {
  .main-content__side-menu__item i {
    font-size: 5vw;
    padding: 2vw;
  }
}
.main-content__side-menu__item i:hover {
  transform: scale(1.02);
  color: #ffa600;
}
.main-content__side-menu__item p {
  font-family: "Lato";
  margin: 0;
  padding: 0;
  font-size: 1vw;
}
@media screen and (max-width: 1080px) {
  .main-content__side-menu__item p {
    font-size: 3vw;
  }
}

.logo {
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  font-size: 5vw;
  line-height: 5vw;
  background: linear-gradient(black, rgba(0, 0, 0, 0.493));
  border: 0.3vw solid white;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  /* center items horizontally, in this case */
  align-items: center;
  font-family: "Raleway";
  margin-right: 1vw;
  margin-top: 2vw;
}
@media screen and (max-width: 1080px) {
  .logo {
    font-size: 4.5vh;
    margin-top: 2vh;
    padding: 3vh;
    z-index: 3;
  }
}

.load-screen {
  /*display: flex;*/
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  z-index: 99;
  animation: hide-load-screen;
  animation-delay: 4s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.loader-spinner {
  position: absolute;
  box-sizing: content-box;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36vh;
  margin-bottom: auto;
  border-top: 2vh solid #23b9ff;
  border-bottom: 2vh solid #23b9ff;
  border-left: 2vh solid white;
  border-right: 2vh solid white;
  animation: spin 2s linear 2;
  animation-fill-mode: forwards;
  border-radius: 50%;
  width: 20vh;
  height: 20vh;
}

.loader-label {
  position: absolute;
  box-sizing: content-box;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36vh;
  margin-bottom: auto;
  display: flex;
  border-radius: 50%;
  border: 2vh solid transparent;
  width: 20vh;
  height: 20vh;
  font-family: "Shrikhand", sans-serif;
  font-weight: 900;
  font-size: 3vh;
  background-color: transparent;
  color: white;
  font-family: "Raleway";
  font-size: 5vw;
}
.loader-label p {
  margin: auto;
  opacity: 0;
  animation: fade-in-rotate 4s;
  animation-fill-mode: forwards;
}

.load-block {
  background-color: transparent;
  z-index: 99;
  height: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-spinner-block {
  position: absolute;
  box-sizing: content-box;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  border-top: 2vh solid #23b9ff;
  border-bottom: 2vh solid #23b9ff;
  border-left: 2vh solid white;
  border-right: 2vh solid white;
  animation: spin 2s linear 2;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  border-radius: 50%;
  width: 20vh;
  height: 20vh;
}

.loader-label-block {
  position: absolute;
  box-sizing: content-box;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  display: flex;
  border-radius: 50%;
  border: 2vh solid transparent;
  width: 20vh;
  height: 20vh;
  font-family: "Shrikhand", sans-serif;
  font-weight: 900;
  font-size: 3vh;
  background-color: transparent;
  color: white;
  font-family: "Raleway";
  font-size: 5vw;
}
.loader-label-block p {
  margin: auto;
  opacity: 0;
  animation: fade-in-rotate 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

/*@import "./base/typography";*/
/*@import "./components/buttons";*/
.awheader {
  color: white;
  box-sizing: border-box;
  background-image: url(../../public/images/header.png);
  display: flex;
  flex-direction: row;
  height: 17vw;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  /* center items horizontally, in this case */
  align-items: flex-start;
  padding-bottom: 7vw;
  padding-left: 5vw;
  padding-right: 5vw;
  position: relative;
}
@media screen and (max-width: 1080px) {
  .awheader {
    padding-right: 0;
  }
}
.awheader h1 {
  font-family: "Raleway";
  border-bottom: 0.1vw solid white;
  font-size: 4vw;
  width: 78vw;
  align-items: flex-start;
  text-align: start;
  padding-top: 0;
  text-shadow: 0.1vw 0.1vw 0.8vw black;
  display: flex;
  justify-content: flex-start;
  /* center items horizontally, in this case */
  align-items: center;
}
@media screen and (max-width: 1080px) {
  .awheader h1 {
    font-size: 7vw;
    margin: 0;
    margin-top: 6vw;
    border-bottom: none;
    border-top: 0.1vw solid white;
    width: 92vw;
  }
}

.nav-expand {
  height: 5vh;
  width: 15vw;
  background-color: rgba(255, 143, 15, 0.89);
  color: white;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 1vh 1vh 0 0;
  margin-top: -5vh;
  margin-left: 60vw;
  font-size: 4vh;
}
@media screen and (max-width: 1080px) {
  .nav-expand {
    display: flex;
  }
}

.main-menu {
  display: flex;
  z-index: 1;
  margin: 0 auto;
  height: 4vw;
  width: 50%;
  justify-content: space-evenly;
  overflow: visible;
  position: relative;
}
@media screen and (max-width: 1080px) {
  .main-menu {
    position: fixed;
    box-sizing: border-box;
    bottom: -93vh;
    left: 0vw;
    height: 93vh;
    width: 99vw;
    margin: 0;
    margin-top: 0vw;
    background-color: transparent;
    z-index: 3;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.945);
    margin: 0;
    flex-wrap: wrap;
    align-items: flex-start;
    box-shadow: -0.2vh -0.2vh 0.2vh rgba(255, 255, 255, 0.534);
  }
  .main-menu--show {
    animation: show-nav-bar 0.5s ease-out forwards;
  }
  .main-menu--hide {
    animation: hide-nav-bar 1s ease-in forwards;
  }
}
.main-menu .button-wrapper {
  filter: drop-shadow(-1vw -1vw 1vw #ffffff);
  position: relative;
}
.main-menu .button-wrapper:hover > * {
  transform-origin: bottom;
  animation: increase-padding-top 500ms ease-in-out forwards;
  text-shadow: 0 0 1vw rgba(255, 255, 255, 0.651);
}
.main-menu .button-wrapper:hover i {
  color: #4c92fa;
}
.main-menu .button-wrapper:nth-child(2) {
  top: -1.5vw;
}
.main-menu .button-wrapper:nth-child(2) > * {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.801), #ffa600);
}
.main-menu .button-wrapper:nth-child(3) {
  top: -1vw;
}
.main-menu .button-wrapper:nth-child(3) > * {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.801), #ffa600);
}
.main-menu .button-wrapper:nth-child(4) {
  top: -0.5vw;
}
.main-menu .button-wrapper:nth-child(4) > * {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.801), #ffa600);
}
@media screen and (max-width: 1080px) {
  .main-menu .button-wrapper:nth-child(1n+0) {
    top: 0;
  }
  .main-menu .button-wrapper:nth-child(1n+0) > * {
    background: none;
    border-bottom: 0.2vh solid #fd8514;
  }
}
.main-menu .button-wrapper > * {
  outline: none;
  border: none;
  /*background: linear-gradient(0deg, rgba(0, 0, 0, 0.801), #32adff);*/
  font-family: "Raleway";
  color: white;
  font-size: 1.5vw;
  line-height: 2vw;
  font-weight: bolder;
  width: 9vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /*-webkit-clip-path: polygon(0 100%, 100% 90%, 10% 0);
  clip-path: polygon(0 100%, 100% 90%, 10% 0);*/
  /* transition: height transform 500ms ease-in-out;*/
  -webkit-clip-path: polygon(0 20%, 0 100%, 100% 100%, 100% 0);
  clip-path: polygon(0 20%, 0 100%, 100% 100%, 100% 0);
}
@media screen and (max-width: 1080px) {
  .main-menu .button-wrapper > * {
    width: 70vw;
    height: 20vh;
    color: #23b9ff;
    font-size: 12vw;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 1080px) {
  .main-menu .button-wrapper > * {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}

/*@import "./layout/container";*/
/*@import "./layout/form";*/
.awfooter {
  color: white;
  background-color: black;
  height: 15vw;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 3vh;
}
.awfooter .fa-facebook {
  font-size: 4vw;
  flex-basis: max-content;
  margin-right: 1vw;
  color: white;
}
.awfooter .fa-facebook:hover {
  color: #3eb2ff;
}
.awfooter .fa-paper-plane {
  font-size: 4vw;
  flex-basis: max-content;
  margin-left: 1vw;
  color: white;
}
.awfooter .fa-paper-plane:hover {
  color: #3eb2ff;
}

/*@import "./pages/index.scss";*/
/*.bookgrid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /*width: 80vw;
    grid-gap: 0vw;
    box-sizing: border-box;
    overflow: hidden;
    position:relative;
    background-color: rgba(255, 255, 255, 0.096);
    /*background: linear-gradient(70deg, rgba(137, 208, 255), rgba(255, 255, 255));*/
/*box-shadow: 0 0 1vw black;
    padding: 2vw;
    border-bottom: 0.2vw solid rgb(93, 163, 255);
    border-top: 0.2vw solid rgb(93, 163, 255);

    /*&__element:nth-child(odd){
        background-color: black;
    }
    &__element:nth-child(even){
        background-color: rgb(218, 19, 19);
    }

    &__books-container{
        display:flex;
        flex-direction:row;
        width: 100%;

    }
    &__element {
        height: 100%;
        width: 100%;
        border-radius: 0.5vw;
        position: relative;
        display: flex;
        flex-direction:row;




        /*background-color: rgb(166, 179, 255);

        & > * {
            display:none;
        }

        z-index: 99;
        &--0 {
            grid-row: 1 / 2;
            grid-column: 1 / 2;

            animation-name: element-enter-right-90;
            animation-duration: 4s;
            animation-fill-mode: forwards;

        }
        &--1 {
            grid-row: 2 / 3;
            grid-column: 2 / 3;

                animation-name: element-enter-right-75;
                animation-duration: 2s;
                animation-fill-mode: forwards;

        }
        &--2 {
            grid-row: 1 / 2;
            grid-column: 3 / 4;


                animation-name: element-enter-top-slow;
                animation-duration: 3s;
                animation-fill-mode: forwards;

        }
        &--3 {
            grid-row: 2 / 3;
            grid-column: 4 / 5;


                animation-name: element-enter-top-fast;
                animation-duration: 3s;
                animation-fill-mode: forwards;

        }
        &--4 {
            grid-row: 1 / 2;
            grid-column: 5 / 6;


                animation-name: element-enter-top-slow;
                animation-duration: 3s;
                animation-fill-mode: forwards;


        }
        &--5 {
            grid-row: 2 / 3;
            grid-column: 6 / 7;

                animation-name: element-enter-left-75;
                animation-duration: 2s;
                animation-fill-mode: forwards;

        }
        &--6 {
            grid-row:  1 / 2;
            grid-column: 7 / 8;

            animation-name: element-enter-left-90;
            animation-duration: 4s;
            animation-fill-mode: forwards;

        }


        &__image {

            display:block;
            object-fit: cover;
            width: 100%;
            height:inherit;

            border-radius: 0.5vw;
            /*box-shadow: 0 0 1vw rgb(97, 97, 97);
        }


    }

}*/
.book {
  display: flex;
  flex-direction: column;
}
.book__element {
  width: 96%;
  box-sizing: border-box;
  border-radius: 1vw;
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 2%;
  padding: 2vw;
  box-shadow: 0 0.2vw 0.2vw grey;
  /*background-color: white;*/
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(120deg, white 30%, #ebebeb);
}
@media screen and (max-width: 1080px) {
  .book__element {
    flex-direction: column;
    margin-bottom: 5vh;
    background: rgba(0, 0, 0, 0.801);
    color: white;
  }
}
.book__element:nth-child(odd) {
  flex-direction: row-reverse;
  background: linear-gradient(320deg, white 30%, #ebebeb);
}
@media screen and (max-width: 1080px) {
  .book__element:nth-child(odd) {
    flex-direction: column;
    background: rgba(0, 0, 0, 0.801);
    color: white;
  }
}
.book__element:last-child {
  margin-bottom: 15vh;
}
.book__element__image {
  width: 15vw;
  height: 22vw;
  object-fit: cover;
  object-position: left;
  box-shadow: 0.2vw 0 1vw grey;
  margin: 0 2vw;
  border-radius: 1vw;
}
@media screen and (max-width: 1080px) {
  .book__element__image {
    width: 100%;
    height: auto;
  }
}
.book__element__text-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 77%;
  padding: 1% 1%;
}
@media screen and (max-width: 1080px) {
  .book__element__text-container {
    width: 100%;
  }
}
.book__element__text-container > * {
  font-family: "Lato";
}
.book__element__link-container {
  width: 100%;
  height: 5vw;
}
.book__element__title {
  font-size: 2vw;
  flex-basis: max-content;
  width: 100%;
  margin-right: 2%;
}
@media screen and (max-width: 1080px) {
  .book__element__title {
    font-size: 5.5vw;
    margin-bottom: 2vw;
  }
}
.book__element__publisher {
  font-size: 2vw;
  flex-basis: max-content;
  margin-right: 2%;
  color: #6d6d6d;
}
@media screen and (max-width: 1080px) {
  .book__element__publisher {
    font-size: 4vw;
    flex-basis: 80%;
    color: #ffa600;
  }
}
.book__element__date {
  font-size: 2vw;
  flex-basis: max-content;
  font-weight: bold;
  color: #6d6d6d;
}
@media screen and (max-width: 1080px) {
  .book__element__date {
    font-size: 4vw;
    color: #ffa600;
  }
}
.book__element__synopsis {
  font-size: 1.5vw;
  white-space: pre-line;
  flex-basis: max-content;
  text-align: justify;
}
@media screen and (max-width: 1080px) {
  .book__element__synopsis {
    font-size: 5vw;
    text-justify: inter-character;
    margin-top: 2vw;
  }
}

.blog {
  /* &__title-container {
       display: flex;
       flex-direction:row;
       height: 100%;
       border-right: 0.2vw solid $color-button-blog;
       align-content: flex-start;
       flex-wrap:wrap;
       width: 15vw;
       padding-top: 5vw;
       & > * {
           padding-bottom: 1vw;
       }


       & h2 {
           margin: 0;
           padding: 0;
           font-size: 1.5vw;
           line-height: 1.5rem;
           border-bottom: 0.2vw solid $color-button-blog;
           width: 75%;
           padding-left:5%;
           text-align: center;
       }
       & i {
           border-bottom: 0.2vw solid $color-button-blog;
           width: 20%;
           font-size: 1.5rem;
           line-height: 1.5rem;
           text-align: right;
       }
   }*/
  /*&__post-filters
  {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      align-items:center;

      & i {
          box-sizing:border-box;
          display:flex;
          background-color: rgb(255, 255, 255);
          border-radius: 5rem;
          transition: transform 100ms ease-in-out;
          width:3vw;
          height:3vw;
          align-items:center;
          justify-content:center;
          color: rgb(21, 151, 202);
          box-shadow:0.2vw 0.2vw 0.2vw lightgrey;
          padding: 1vw;
          margin-top: 2vw;
          font-size: 2vw;
          border: 0.1rem solid rgb(21, 151, 202);
          &:hover {
              transform: scale(1.02);
              color: $color-button-blog;
          }
      }
  }*/
}
.blog__posts-container {
  width: 100%;
  margin-left: 1%;
}
.blog__element {
  position: relative;
  right: 0vw;
  float: right;
  padding-top: 5vw;
  margin-left: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5vw;
  /*background-color: white;*/
  flex-wrap: wrap;
  /*transition: transform 200ms ease-in-out;*/
}
@media screen and (max-width: 1080px) {
  .blog__element {
    padding: 0.5vw;
    border-radius: 0vw 0vw 1vw 1vw;
    box-sizing: border-box;
    width: 90vw;
  }
}
.blog__element:hover {
  transform-origin: top left;
  /*animation: to-primary 1s ease-in-out forwards;*/
}
.blog__element:nth-child(odd) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 1080px) {
  .blog__element:nth-child(odd) {
    flex-direction: row;
  }
}
.blog__element__image {
  /*float: left;           
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  object-position: left;
  box-shadow: 0.2vw 0.2vw 0.5vw rgb(0, 0, 0);
  margin: -3vw 2vw 2vw -3vw;
  z-index: 2;
  border-radius: 50%;*/
  float: none;
  width: 100%;
  height: 40vh;
  border-radius: 0;
  margin: 0;
  box-shadow: none;
  z-index: 1;
  object-fit: cover;
  object-position: left;
}
.blog__element__title {
  /*font-size: 3vw;
  flex-basis: max-content;
  width: 100%;
  margin-right: 2%;
  border-top: 0.2vw solid $color-button-blog;

  /*background: linear-gradient(90deg,rgb(37, 168, 255), white);
  box-shadow: 0.2vw 0.2vw 0.4vw rgb(212, 211, 211);
  font-family: 'Raleway';
  background:white;*/
  z-Index: 3;
  font-size: 2.5vh;
  padding: 1vw;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.87);
  text-align: center;
  position: relative;
  top: -22vh;
  max-width: 50vw;
  margin-right: 0;
  border: none;
  box-shadow: none;
  display: inline-block;
  color: #005d89;
}
.blog__element__publisher {
  font-size: 2vw;
  flex-basis: max-content;
  margin-right: 2%;
  color: #6d6d6d;
}
.blog__element__date {
  /*font-size: 1vw;
  font-weight: 100;
  color:rgb(109, 109, 109);
  font-family: 'Lato';
  text-align:end;
  background-color:white;
  width: 100%;
  margin-left: 80%;
  color: darken($color-secondary, 50%);
  text-align:center;
  clip-path: polygon(9% 0, 91% 0, 100% 100%, 0% 100%);*/
  font-size: 2vw;
  line-height: 4vw;
  max-width: 45%;
  margin-left: 0;
  z-index: 0;
  padding-bottom: 0vw;
  clip-path: none;
  background-color: #ffa600;
  animation: poping-blog-post-date 1s ease-out forwards;
  position: relative;
  text-align: center;
  bottom: -2vw;
  z-index: 3;
}
@media screen and (max-width: 1080px) {
  .blog__element__date {
    font-size: 3vw;
    line-height: 4vw;
  }
}
.blog__element__synopsis {
  /*font-size: 1.5rem;
  line-height: 2rem;

  text-align: justify;
  padding: 2vw 2vw 2vw 2vw;
  font-family: 'DM Sans';
  background-color: white;

  background: rgb(255,255,255);
  z-index:2;
  text-overflow: ellipsis;
  box-shadow: 0.2vw 0.2vw 0.4vw rgb(212, 211, 211);
  white-space: pre-line;
  background: linear-gradient(180deg, #eaeaea 10%,  white 90%);
  text-shadow: 0.1vw 0.1vw 0.3vw white;
  border-radius: 0 0 3vw 3vw;
  border: 0.2vw solid lightblue;*/
  font-size: 2vw;
  line-height: 3vw;
  border-radius: 0;
  border-radius: 1vw;
  margin-top: -25vh;
  width: 90%;
  background: linear-gradient(0deg, black, rgba(0, 0, 0, 0.281));
  padding: 2vw 2vw 2vw 2vw;
  padding-top: 5vh;
  color: white;
  text-shadow: none;
  position: relative;
  animation: coming-from-right 1s ease-in-out forwards;
  z-index: 2;
  text-overflow: ellipsis;
  font-family: "DM Sans";
  text-align: justify;
  white-space: pre-line;
}
@media screen and (max-width: 1080px) {
  .blog__element__synopsis {
    font-size: 3vw;
  }
}

.post-filters {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.author__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
}
.author__container img {
  border-radius: 50%;
  height: 15vw;
  width: 15vw;
  object-fit: cover;
  box-shadow: 0.2vw 0.2vw 1vw black;
  border: 0.2vw solid white;
  margin-bottom: 4vw;
  z-index: 99;
}
@media screen and (max-width: 1080px) {
  .author__container img {
    height: 60vw;
    width: 60vw;
  }
}
.author__container p {
  font-family: "Lato";
  font-size: 2vw;
  line-height: 2.5vw;
  text-align: justify;
  padding: 5vw 1vw 1vw 0;
  margin: 0 10vw;
  /*background-color: $color-button-blog;*/
}
@media screen and (max-width: 1080px) {
  .author__container p {
    font-size: 5vw;
    line-height: 6vw;
    margin: 0 3vw;
  }
}

/*# sourceMappingURL=style.css.map */
