body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgb(231, 231, 231, 0.9), rgb(3, 3, 3));
}

.page-container {
    max-width: 1920px;
    /*background-image: url("../../public/images/background.png");*/
    z-index: 99;
    margin: 0 auto;
}
.main-content {
    box-sizing: border-box;
    background: linear-gradient(45deg,rgb(255, 255, 255), rgb(231, 231, 231));
    padding: 5vw 3vw 3vw 5vw;
    overflow: visible;
    width: 90%;
    margin: -3vw auto -7vw auto;
    box-shadow: 0 0 1vw white;
    z-index: 2;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 97%, 100% 3%, 0 0);
    clip-path: polygon(0 0, 0 100%, 100% 97%, 100% 3vw, 0 0);
    & h2 {
      max-width: 40%;
      border-bottom: 0.2vw solid rgb(50, 173, 255);
      font-family:"Raleway";
      margin-left: 2%;

    }
  &__title {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    & > * {
      

        
        font-size: 3vw;
        text-shadow:rgb(102, 102, 102) 0.2vw 0.2vw 0.2vw;
      
    }
  }
}

h1 {
    
}

.logo {
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    font-size: 5vw;
    line-height: 5vw;
    background: linear-gradient(black, rgba(0, 0, 0, 0.493));
    border: 0.3vw solid white;
    vertical-align: middle;
    display: flex;
    justify-content: center; /* center items horizontally, in this case */
    align-items: center;
    font-family: "Raleway";
    margin-right: 1vw;
    margin-top : 2vw;
}

.load-screen {
    /*display: flex;*/
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $color-background-primary;
    z-index: $maximum-index;
    animation: hide-load-screen;
    animation-delay: 4s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  .loader-spinner {
    @include loader-element;
    border-top: 2vh solid $color-secondary;
    border-bottom: 2vh solid $color-secondary;
    border-left: 2vh solid white;
    border-right: 2vh solid white;
    animation: spin 2s linear 2;
    animation-fill-mode: forwards;
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
  }
  
  .loader-label {
    @include loader-element;
    display: flex;
    border-radius: 50%;
    border: 2vh solid transparent;
    width: 20vh;
    height: 20vh;
    font-family: "Shrikhand", sans-serif;
    font-weight: 900;
    font-size: 3vh;
    background-color: transparent;
    color:white;
    font-family: "Raleway";
    font-size: 5vw;
    p {
      margin: auto;
      opacity: 0;
      animation: fade-in-rotate 4s;
      animation-fill-mode: forwards;
    }
  }


  //loader used inside main content if the api takes some time to respond
  .load-block {
    background-color: transparent;
    z-index: $maximum-index;
    height: 30vw;
    display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .loader-spinner-block {
    @include loader-element-block;
    border-top: 2vh solid $color-secondary;
    border-bottom: 2vh solid $color-secondary;
    border-left: 2vh solid white;
    border-right: 2vh solid white;
    animation: spin 2s linear 2;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
    
  }
  
  .loader-label-block {
    @include loader-element-block;
    display: flex;
    border-radius: 50%;
    border: 2vh solid transparent;
    width: 20vh;
    height: 20vh;
    font-family: "Shrikhand", sans-serif;
    font-weight: 900;
    font-size: 3vh;
    background-color: transparent;
    color:white;
    font-family: "Raleway";
    font-size: 5vw;
    p {
      margin: auto;
      opacity: 0;
      animation: fade-in-rotate 4s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
  }

  