body {
    display: flex;
    flex-direction: column;
    @include mobile-only {
      position:relative;
    }
    background: linear-gradient(0deg, rgb(231, 231, 231, 0.9), rgb(3, 3, 3));
    & #scrolltotop {
      box-sizing: border-box;
      width: 4vw;
      height: 4vw;
      display: none; /* Hidden by default */
      position: fixed; /* Fixed/sticky position */
      bottom: 17vw; /* Place the button at the bottom of the page */
      right: 4vw; /* Place the button 30px from the right */
      z-index: 99; /* Make sure it does not overlap */
      border: none; /* Remove borders */
      outline: none; /* Remove outline */
      color: $color-button-blog;
      /* Set a background color */
      background-color: white; 
      border: 0.3vw solid $color-button-blog;
      cursor: pointer; /* Add a mouse pointer on hover */
      padding: 1vw; /* Some padding */
      border-radius: 5vw; /* Rounded corners *//* Increase font size */
      box-shadow: 0.2vw 0.2vw 1vw black;
      overflow:visible;
      & i {
        font-size: 1vw;
        
      }
      &:hover {
        /*background-color: $color-button-blog; Add a dark-grey background on hover */
        border: 0.4vw solid rgb(21, 151, 202);
        color: rgb(21, 151, 202);
        transform-origin: bottom;
        animation: scale-btn-hover 1s ease-out infinite forwards;
      }
    }
    
   
}

.page-container {
    max-width: 1920px;
    /*background-image: url("../../public/images/background.png");*/
    z-index: 99;
    margin: 0 auto;
}
.main-content {
    box-sizing: border-box;
    background: linear-gradient(0deg,rgb(255, 255, 255) 90%, rgb(231, 231, 231));
    padding: 5vw 3vw 3vw 5vw;
    overflow: visible;
    width: 90%;
    margin: -3vw auto -7vw auto;
    box-shadow: 0 0 1vw white;
    z-index: 2;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 97%, 100% 3%, 0 0);
    clip-path: polygon(0 0, 3vw 100%, 100% 98%, 100% 3vw, 0 0);
    display: flex;
    flex-direction: row;
    & h2 {
      /*max-width: 40%;*/
      border-bottom: 0.2vw solid rgb(50, 173, 255);
      font-family:"Raleway";
      margin-left: 2%;

    }
  &__title-container {
    &__title {
      display: flex;
      flex-direction:row;
      height: 100%;
      border-right: 0.2vw solid $color-button-blog;
      align-content: flex-start;
      flex-wrap:wrap;
      width: 10vw;
      padding-top: 5vw;
      & > * {
          padding-bottom: 1vw;
      }


      & h2 {
          margin: 0;
          padding: 0;
          font-size: 1.5vw;
          line-height: 1.5rem;
          border-bottom: 0.2vw solid $color-button-blog;
          width: 75%;
          padding-left:5%;
          text-align: center;
      }
      & i {
          border-bottom: 0.2vw solid $color-button-blog;
          width: 20%;
          font-size: 1.5rem;
          line-height: 1.5rem;
          text-align: right;
          color: rgb(21, 151, 202);
      }
  
      
    }
  }
  &__side-menu {
    width: 15vw;
    &__item {
      display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        align-items:center;
        font-size: 3vw;
  
        & i {
            box-sizing:border-box;
            display:flex;
            background-color: rgb(255, 255, 255);
            border-radius: 5rem;
            transition: transform 100ms ease-in-out;
            width:4vw;
            height:4vw;
            align-items:center;
            justify-content:center;
            color: rgb(21, 151, 202);
            box-shadow:0.2vw 0.2vw 0.2vw lightgrey;
            padding: 1vw;
            margin-top: 2vw;
            font-size: 2vw;
            border: 0.1rem solid rgb(21, 151, 202);
            &:hover {
                transform: scale(1.02);
                color: $color-button-blog;
            }
          }
          & p {
            font-family: 'Lato';
            margin: 0;
            padding: 0;
            font-size: 1vw;
          }
    }
  }
}

h1 {
    
}

.logo {
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    font-size: 5vw;
    line-height: 5vw;
    background: linear-gradient(black, rgba(0, 0, 0, 0.493));
    border: 0.3vw solid white;
    vertical-align: middle;
    display: flex;
    justify-content: center; /* center items horizontally, in this case */
    align-items: center;
    font-family: "Raleway";
    margin-right: 1vw;
    margin-top : 2vw;
}

.load-screen {
    /*display: flex;*/
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $color-background-primary;
    z-index: $maximum-index;
    animation: hide-load-screen;
    animation-delay: 4s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  .loader-spinner {
    @include loader-element;
    border-top: 2vh solid $color-secondary;
    border-bottom: 2vh solid $color-secondary;
    border-left: 2vh solid white;
    border-right: 2vh solid white;
    animation: spin 2s linear 2;
    animation-fill-mode: forwards;
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
  }
  
  .loader-label {
    @include loader-element;
    display: flex;
    border-radius: 50%;
    border: 2vh solid transparent;
    width: 20vh;
    height: 20vh;
    font-family: "Shrikhand", sans-serif;
    font-weight: 900;
    font-size: 3vh;
    background-color: transparent;
    color:white;
    font-family: "Raleway";
    font-size: 5vw;
    p {
      margin: auto;
      opacity: 0;
      animation: fade-in-rotate 4s;
      animation-fill-mode: forwards;
    }
  }


  //loader used inside main content if the api takes some time to respond
  .load-block {
    background-color: transparent;
    z-index: $maximum-index;
    height: 30vw;
    display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .loader-spinner-block {
    @include loader-element-block;
    border-top: 2vh solid $color-secondary;
    border-bottom: 2vh solid $color-secondary;
    border-left: 2vh solid white;
    border-right: 2vh solid white;
    animation: spin 2s linear 2;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
    
  }
  
  .loader-label-block {
    @include loader-element-block;
    display: flex;
    border-radius: 50%;
    border: 2vh solid transparent;
    width: 20vh;
    height: 20vh;
    font-family: "Shrikhand", sans-serif;
    font-weight: 900;
    font-size: 3vh;
    background-color: transparent;
    color:white;
    font-family: "Raleway";
    font-size: 5vw;
    p {
      margin: auto;
      opacity: 0;
      animation: fade-in-rotate 4s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
  }

  