.blog {
   /* &__title-container {
        display: flex;
        flex-direction:row;
        height: 100%;
        border-right: 0.2vw solid $color-button-blog;
        align-content: flex-start;
        flex-wrap:wrap;
        width: 15vw;
        padding-top: 5vw;
        & > * {
            padding-bottom: 1vw;
        }


        & h2 {
            margin: 0;
            padding: 0;
            font-size: 1.5vw;
            line-height: 1.5rem;
            border-bottom: 0.2vw solid $color-button-blog;
            width: 75%;
            padding-left:5%;
            text-align: center;
        }
        & i {
            border-bottom: 0.2vw solid $color-button-blog;
            width: 20%;
            font-size: 1.5rem;
            line-height: 1.5rem;
            text-align: right;
        }
    }*/

   &__posts-container {
        width:100%;
        margin-left: 1%;
    }
    /*&__post-filters
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        align-items:center;
  
        & i {
            box-sizing:border-box;
            display:flex;
            background-color: rgb(255, 255, 255);
            border-radius: 5rem;
            transition: transform 100ms ease-in-out;
            width:3vw;
            height:3vw;
            align-items:center;
            justify-content:center;
            color: rgb(21, 151, 202);
            box-shadow:0.2vw 0.2vw 0.2vw lightgrey;
            padding: 1vw;
            margin-top: 2vw;
            font-size: 2vw;
            border: 0.1rem solid rgb(21, 151, 202);
            &:hover {
                transform: scale(1.02);
                color: $color-button-blog;
            }
        }
    }*/
    
    
    &__element {
       
        position: relative;
        right: 0vw;
        float: right;
        padding-top: 0vw;
        margin-left: 1vw;
        display: flex;
            flex-direction: row;
            justify-content:center;
        margin-bottom: 5vw;
        /*background-color: white;*/
 
        flex-wrap: wrap;
        
        /*transition: transform 200ms ease-in-out;*/

        @include mobile-only {
            padding: 0.5vw;
            border-radius: 0vw 0vw 1vw 1vw;
            box-sizing:border-box;
            
            width: 90vw;


        }

        &:hover {
            
            transform-origin: top left;
            /*animation: to-primary 1s ease-in-out forwards;*/

        }
        
        &:nth-child(odd) {
            flex-direction: row-reverse;
            @include mobile-only {
                flex-direction:row;
            }

            
 
        }
        &__image {
            /*float: left;           
            width: 15vw;
            height: 15vw;
            object-fit: cover;
            object-position: left;
            box-shadow: 0.2vw 0.2vw 0.5vw rgb(0, 0, 0);
            margin: -3vw 2vw 2vw -3vw;
            z-index: 2;
            border-radius: 50%;*/
            float:none;
                width:100%;
                height: 40vh;
                border-radius: 0;
                margin: 0;
                box-shadow: none;
                z-index:1;
                object-fit: cover;
            object-position: left;
            @include mobile-only {

            }
        }
                
   
                

            
        

        &__title {
            /*font-size: 3vw;
            flex-basis: max-content;
            width: 100%;
            margin-right: 2%;
            border-top: 0.2vw solid $color-button-blog;

            /*background: linear-gradient(90deg,rgb(37, 168, 255), white);
            box-shadow: 0.2vw 0.2vw 0.4vw rgb(212, 211, 211);
            font-family: 'Raleway';
            background:white;*/
            

            z-Index: 3;

            font-size: 2.5vh;
            padding: 1vw;
            box-sizing:border-box;

            background-color:rgba(255, 255, 255, 0.87);
            text-align:center;

            position: relative;
            top: -22vh;
            max-width: 50vw;

            margin-right:0;
            border:none;
            box-shadow: none;
            display:inline-block;
            color: darken($color-secondary, $amount: 30);
            font-family: 'DM Sans';

            @include mobile-only {
                
              }
        }

        &__publisher {
            font-size: 2vw;
            flex-basis: max-content;
            margin-right: 2%;
            color:rgb(109, 109, 109);
       
        }
        &__date {
            /*font-size: 1vw;
            font-weight: 100;
            color:rgb(109, 109, 109);
            
            text-align:end;
            background-color:white;
            width: 100%;
            margin-left: 80%;
            color: darken($color-secondary, 50%);
            text-align:center;
            clip-path: polygon(9% 0, 91% 0, 100% 100%, 0% 100%);*/
            font-size: 2vw;
            line-height:3vw;
            max-width:45%;
            margin-left:0;
            z-index:0;
            padding-bottom: 0vw;
            clip-path: none;
            background-color: $color-button-blog;
            animation: poping-blog-post-date 1s ease-out forwards;
            position:relative;
            text-align: center;
            font-family: 'DM Sans';
            bottom: -2vw;
            z-index: 3;
            @include mobile-only {
                font-size: 2vw;
                line-height:4vw;
              }
        }

        &__synopsis {
            /*font-size: 1.5rem;
            line-height: 2rem;
            
            text-align: justify;
            padding: 2vw 2vw 2vw 2vw;
            font-family: 'DM Sans';
            background-color: white;

            background: rgb(255,255,255);
            z-index:2;
            text-overflow: ellipsis;
            box-shadow: 0.2vw 0.2vw 0.4vw rgb(212, 211, 211);
            white-space: pre-line;
            background: linear-gradient(180deg, #eaeaea 10%,  white 90%);
            text-shadow: 0.1vw 0.1vw 0.3vw white;
            border-radius: 0 0 3vw 3vw;
            border: 0.2vw solid lightblue;*/
            font-size: 2vw;
            line-height: 3vw;
            border-radius: 0;
            border-radius: 1vw;
            margin-top: -25vh;
            width: 90%;
            background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.281)) ;
            padding: 2vw 2vw 2vw 2vw;
            padding-top: 5vh;
            color:white;
            text-shadow: none;
            position:relative;
            animation: coming-from-right 1s ease-in-out forwards;
            z-index:2;
            text-overflow: ellipsis;
            font-family: 'DM Sans';
            text-align: justify;
            white-space: pre-line;
            display: inline;
            

            @include mobile-only {
                font-size: 3vw;
              }

            
        }
    }
}

.post-filters {
    display: flex;
    justify-content: space-around;
    align-items:center;
}