/*.bookgrid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /*width: 80vw;
    grid-gap: 0vw;
    box-sizing: border-box;
    overflow: hidden;
    position:relative;
    background-color: rgba(255, 255, 255, 0.096);
    /*background: linear-gradient(70deg, rgba(137, 208, 255), rgba(255, 255, 255));*/
    /*box-shadow: 0 0 1vw black;
    padding: 2vw;
    border-bottom: 0.2vw solid rgb(93, 163, 255);
    border-top: 0.2vw solid rgb(93, 163, 255);

    /*&__element:nth-child(odd){
        background-color: black;
    }
    &__element:nth-child(even){
        background-color: rgb(218, 19, 19);
    }

    &__books-container{
        display:flex;
        flex-direction:row;
        width: 100%;
        
    }
    &__element {
        height: 100%;
        width: 100%;
        border-radius: 0.5vw;
        position: relative;
        display: flex;
        flex-direction:row;
        
           

  
        /*background-color: rgb(166, 179, 255);
        
        & > * {
            display:none;
        }
        
        z-index: 99;
        &--0 {
            grid-row: 1 / 2;
            grid-column: 1 / 2;

            animation-name: element-enter-right-90;
            animation-duration: 4s;
            animation-fill-mode: forwards;
            
        }
        &--1 {
            grid-row: 2 / 3;
            grid-column: 2 / 3;

                animation-name: element-enter-right-75;
                animation-duration: 2s;
                animation-fill-mode: forwards;
          
        }
        &--2 {
            grid-row: 1 / 2;
            grid-column: 3 / 4;


                animation-name: element-enter-top-slow;
                animation-duration: 3s;
                animation-fill-mode: forwards;
         
        }
        &--3 {
            grid-row: 2 / 3;
            grid-column: 4 / 5;


                animation-name: element-enter-top-fast;
                animation-duration: 3s;
                animation-fill-mode: forwards;
 
        }
        &--4 {
            grid-row: 1 / 2;
            grid-column: 5 / 6;


                animation-name: element-enter-top-slow;
                animation-duration: 3s;
                animation-fill-mode: forwards;

     
        }
        &--5 {
            grid-row: 2 / 3;
            grid-column: 6 / 7;
     
                animation-name: element-enter-left-75;
                animation-duration: 2s;
                animation-fill-mode: forwards;

        }
        &--6 {
            grid-row:  1 / 2;
            grid-column: 7 / 8;
  
            animation-name: element-enter-left-90;
            animation-duration: 4s;
            animation-fill-mode: forwards;
 
        }
        

        &__image {
 
            display:block;
            object-fit: cover;
            width: 100%;
            height:inherit;

            border-radius: 0.5vw;
            /*box-shadow: 0 0 1vw rgb(97, 97, 97);
        }


    }
    
}*/

.book {
    display: flex;
    flex-direction: column;
    
    
    &__element {
        width: 96%;
        box-sizing: border-box;
        border-radius: 1vw;
        position: relative;
        display: flex;
        flex-direction: row;
        @include mobile-only {
            flex-direction:column;
            margin-bottom: 5vh;
            background:rgba(0, 0, 0, 0.801);
            color:white;
          }
        margin: 2%;
        padding: 2vw;
        box-shadow: 0 0.2vw 0.2vw grey;
        /*background-color: white;*/
        justify-content: space-between;
        align-items:center;
        overflow: hidden;
        background: linear-gradient(120deg, white 30%,  rgb(235, 235, 235));
        &:nth-child(odd) {
            flex-direction: row-reverse;
            @include mobile-only {
                flex-direction:column;
                background:rgba(0, 0, 0, 0.801);
                color:white;
              }
            background: linear-gradient(320deg, white 30%,  rgb(235, 235, 235));
 
        }
        &:last-child {
            margin-bottom: 15vh;
        }
        

        &__image {
            width: 15vw;
            height: 22vw;
            @include mobile-only {
                width:100%;
                height:auto;
              }
            object-fit: cover;
            object-position: left;
            box-shadow: 0.2vw 0 1vw grey;
            margin: 0 2vw;
            border-radius: 1vw;
        }
        &__text-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-end;
                width: 77%;
        
                @include mobile-only {
                    width:100%;
                  }
                padding: 1% 1%;
            & > * {
                
                font-family: 'Lato';
                
            }
            
        }

        &__link-container {
            width: 100%;
            height: 5vw;
            
        }
        &__title {
            font-size: 2vw;
            @include mobile-only {
                font-size: 5.5vw;
                margin-bottom: 2vw;
            }
            flex-basis: max-content;
            width: 100%;
            margin-right: 2%;
           
        }

        &__publisher {
            font-size: 2vw;
            @include mobile-only {
                font-size: 4vw;
                flex-basis: 80%;
                color:$color-button-blog;
              }
            flex-basis: max-content;
            margin-right: 2%;
            color:rgb(109, 109, 109);
       
        }
        &__date {
            font-size: 2vw;
            @include mobile-only {
                font-size: 4vw;
                color:$color-button-blog;
              }
            flex-basis: max-content;
            font-weight: bold;
            color:rgb(109, 109, 109);
        }

        &__synopsis {
            font-size: 1.5vw;
            white-space: pre-line;

            @include mobile-only {
                font-size: 5vw;
                text-justify: inter-character;
                margin-top: 2vw;
            }
            flex-basis: max-content;
            text-align: justify;

            
        }
    }
}