@keyframes element-enter-right-90 {
    0% {
        left: 80vw;
    }
    100% {
        left: 0vw;
    }
    
}

@keyframes element-enter-left-90 {
    0% {
        right: 80vw;
    }
    100% {
        right: 0vw;
    }
    
}

@keyframes element-enter-right-75{
    0% {
        left :75vw;
    }
    100% {
        left: 0vw;
    }
    
}

@keyframes element-enter-left-75 {
    0% {
        right: 75vw;
    }
    100% {
        right: 0vw;
    }
    
}



@keyframes element-enter-top-fast{
    0% {
        bottom: 30vw;
    }

    80% {
        bottom:30vw;
    }
    100% {
        bottom: 0vw;
    }
    
}

@keyframes element-enter-top-slow{
    0% {
        bottom: 30vw;
    }

    60% {
        bottom:30vw;
    }
    100% {
        bottom: 0vw;
    }
    
}

/*loader spinner keyframes*/

/*to... well. hide the load screen :) */
@keyframes hide-load-screen {
    0% {
      width: 100%;
      height: 100%;
      visibility: visible;
      opacity: 1;
    }
    100% {
      visibility: hidden;
      opacity: 0;
    }
  }
  
  /*To rotate the two colored borders while getting them to fade out after 80% of the animation duration*/
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    80% {
      opacity: 1;
    }
    100% {
      transform: rotate(360deg);
      opacity: 0;
    }
  }
  
  /*To fade in the OHMYFOOD logo, then rotate it 360° during the remaining 50% of the animation*/
  @keyframes fade-in-rotate {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: rotate(0deg);
    }
    100% {
      opacity: 0.5;
      transform: rotate(360deg);
    }
  }
  
  /* To fade in the main content while the spinner div is disappearing*/
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes increase-padding-top {
    to {
      
      /*height: 5vw;*/
      margin-top: -1vw;
    }
    }