$color-background-body: rgb(247, 247, 247);
$color-background-primary: black;
$color-secondary: rgb(35, 185, 255);
$color-tertiary:white;

$maximum-index: 99;

$color-button-blog: rgb(255, 166, 0);
$color-button-about: rgb(255, 166, 0);
$color-button-books: rgb(255, 166, 0);